.Qa2b3W {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    /* border-radius: 3px; */
    height: 55px;
    font-size: 14px;
    background: rgb(221, 216, 216);
    margin-bottom: 12px;
    color: #000000;
    padding: 0 20px;
}

.HT91w\+ {
    padding: 0 12px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 58px;
    box-sizing: border-box;
}

.AL\+12- {
    color: rgba(0, 0, 0, .8);
    width: 46.27949%;
}

._9WkMVw {
    width: 15.88022%;
    text-align: center;
}

.\-8m-Kl,
.jhQgNo {
    text-align: center;
}

.\-8m-Kl {
    width: 15.4265%;
}

.jhQgNo {
    width: 10.43557%;
}

.f6YLr6 {
    width: 12.70417%;
    text-align: center;
}

.LB3ghz {
    height: 3.75rem;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    padding: 0 20px;
}

.Ifeb9v,
.LB3ghz {
    display: flex;
    align-items: center;
}

._7PEQZR {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, .8);
    padding-top: 20px;
}

.vZBTVk:last-child {
    padding-bottom: 20px;
}

.vZBTVk:first-child {
    padding-top: 15px;
    background-color: #f8efee;
}

.vZBTVk {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    display: block;
    padding: 0 20px 15px;
    margin-top: 15px;
}

.JkA04H {
    display: flex;
    align-items: center;
}

.Ho1DUb {
    padding: 0 12px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 58px;
    box-sizing: border-box;
}

._9OEiWk,
.Nnq7jn {
    display: flex;
}

.Nnq7jn {
    width: 43.03811%;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
}

._52vwcs,
.dqCy3J {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dqCy3J {
    width: 17.24138%;
}

._52vwcs {
    flex-direction: column;
    width: 15.88022%;
}

._52vwcs,
.dqCy3J {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rwgSkh {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 12.4265%;
}

._3\+V9JZ,
.mfnQju {
    display: flex;
    align-items: center;
    justify-content: center;
}

._3\+V9JZ {
    width: 14.43557%;
    color: #ee4d2d;
}

.PhFyeg {
    flex-direction: column;
}

.mfnQju {
    width: 12.70417%;
    text-transform: capitalize;
}

._3\+V9JZ,
.mfnQju {
    display: flex;
    align-items: center;
    justify-content: center;
}



.zpjHdR:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.zpjHdR {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
    // -webkit-appearance: none;
}

.uRjDya {
    display: flex;
    align-items: center;
}

.zpjHdR {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.zpjHdR:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.zpjHdR {
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
    width: 32px;
    height: 32px;
}

.WyzXWi {
    padding: 12px 0;
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 3;
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    background: rgb(221, 216, 216);
    justify-content: space-between;
}
 
.W8ezSg {
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.-zQCc- {
    padding: 0 12px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    min-width: 58px;
    box-sizing: border-box;
}

._0i6X2C,
.gtcCBF {
    cursor: pointer;
}

.clear-btn-style {
    background: 0;
    border: 0;
}

.pv9C97 {
    margin: 0 8px;
}

.clear-btn-style {
    background: 0;
    border: 0;
}

._3MARa- {
    color: #ee4d2d;
    margin: 0 8px;
    max-width: 168px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clear-btn-style {
    background: 0;
    border: 0;
}

._2ElxFV {
    display: flex;
    flex-direction: column;
}

.W8ezSg .shopee-button-solid {
    padding: 13px 36px;
    margin: 0 22px 0 15px;
    text-transform: capitalize;
    font-weight: 300;
    height: 3.5rem;
    box-sizing: border-box;
    font-size: .875rem;
    border-radius: 2px;
    width: 13.125rem;
}

.shopee-button-solid--primary {
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
}

._2ElxFV {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.BNuBXe {
    margin-left: 107px;
    display: flex;
    align-items: center;
}

._4L690l {
    font-size: 16px;
    color: #222;
    line-height: 19px;
}

.Or93gU {
    font-size: 24px;
    line-height: 28px;
    margin-left: 5px;
    color: #ff2a00;
}

.stardust-checkbox {
    font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: default;
    position: relative;
    color: rgba(0, 0, 0, .54);
    max-width: 400px;
}

.W8ezSg .shopee-button-solid {
    padding: 13px 36px ;
    margin: 0 22px 0 15px;
    text-transform: capitalize;
    font-weight: 300;
    height: 4.5rem;
    box-sizing: border-box;
    font-size: .875rem;
    border-radius: 2px;
    width: 15.125rem;
}

.shopee-button-solid--primary {
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
}


.shopee-button-solid {


    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    position: relative;
    background: rgba(0, 0, 0, .54);
    color: #fff;
    transition: opacity .2s ease;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
    margin: 0 22px 0 15px;
    text-transform: capitalize;
    font-weight: 300;
    height: 3.5rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    border-radius: 2px;
    width: 16.125rem;
    padding: 13px 36px;
    // osition: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    position: relative;
    background: rgba(0, 0, 0, 0.54);
    color: #fff;
    transition: opacity 0.2s ease;
    border-radius: 2px;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    position: relative;
    overflow: visible;
    outline: 0;
    background: #ee4d2d;
    margin: 0 22px 0 15px;
    text-transform: capitalize;
    font-weight: 300;
    box-sizing: border-box;
    font-size: 0.875rem;
    border-radius: 2px;
    padding: 13px 36px;
}.JEsC7W {
    font-size: 1.5rem;
        width: 100%;
}

