.function {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    height: 50px;
}

.function a {
    text-decoration: none
}

.table {
    font-size: large;
    text-align: center;
}