.function {
    display: flex;
}

.function a {
    text-decoration: none
}

.xep6ejk {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/OA5Fm8z99_S.png');
    background-position: 0 -432px;
    background-size: 22px 704px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 13;
}
.xep6ejk1 {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/OA5Fm8z99_S.png');
    background-position: 0 -432px;
    background-size: 22px 704px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    z-index: 13;margin-left: 96px;
    
}
.button_img {
    background-color: rgb(255, 255, 255);
    width: 108px;
    display: flex;
    height: 35px;
    align-items: center;
    border-radius: 9%;
    justify-content: center;
}