.tabs {
    height: 8vh;
    transition: 0.5s;
    background: #fff;
    box-shadow: 0 0 40px #eff1f7;
    margin: 0 -50px;
    border-bottom: 5px solid #e8eaef;
}

.tabs ul {
    display: flex;
    justify-content: center;
}

.interactive {
    display: flex;
    padding-left: 15px;
}

.interactive button {
    padding: 0 15px;
}

.interactive button span {
    padding-left: 10px;
}

.dashboard_part {
    width: 100%;
    padding-top: 0 !important;
    transition: 0.5s;
    position: relative;
    min-height: 100vh;
    /* padding-bottom: 90px; */
    overflow: hidden;
    background: #eff1f7;
}

.main_content {
    min-height: 68vh;
    transition: 0.5s;
    margin: 20px 30px 30px;
}